:root {
  /* --primary-color: #43eac1;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5); */
  --text-color: #808080;
  --primary-color: #19d8d3;
  --secondary-color: #3f3a3a;
  --background-color: #f2f2f2;
  --text-size-h1: 30px;
  --text-size-h2: 24px;
  --text-size-h3: 18px;
  --text-size-h4: 14px;
}

* {
  box-sizing: border-box;
}

body {
  /* font-size: 16px; */
  font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  margin: 0px;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 60px 0px 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header div .homepage-logo {
  height: 70px;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav div {
  margin-left: 150px;
  cursor: pointer;
}

header nav div a {
  text-decoration: none;
  color: inherit;
}

header nav .search-icon {
  height: 22px;
  margin-left: 130px;
  cursor: pointer;
}

main {
  margin-top: 100px;
}

.key-visual {
  width: 100%;
  height: 600px;
  background: url("./img/key-visual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* padding: 10px; */
}

.key-visual-text {
  /* text-align: center; */
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  /* margin-top: 220px; */
}

.key-visual-titile {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: -10px;
  letter-spacing: 1px;
}

.key-visual img {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  position: relative;
  top: 150px;
}

.second-img {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/second-img.jpg");
  /* background-color: rgba(128, 128, 128, 0.4); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  font-size: 18px;
  color: white;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-img button {
  margin-top: 30px;
  width: 120px;
  height: 40px;

  font-size: 18px;
  color: var(--on-primary);
  background: none;
  border: 1px solid var(--on-primary);
  border-radius: 5px;
}

.third-img {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/third-img.jpg");
  /* background-color: rgba(128, 128, 128, 0.4); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  font-size: 18px;
  color: white;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-img button {
  margin-top: 30px;
  width: 200px;
  height: 40px;

  font-size: 18px;
  color: var(--on-primary);
  background: none;
  border: 1px solid var(--on-primary);
  border-radius: 5px;
}

.four-img {
  width: 100%;
  height: 650px;
  background: url("./img/four-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.four-img-card {
  width: 330px;
  height: 440px;
  background: url("./img/FE_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.four-img-card img {
  width: 40px;
  height: 40px;
  margin-top: 50px;
}

.four-img-card .title {
  font-size: 24px;
  color: var(--on-primary);
  margin-bottom: 10px;
}

.four-img-card hr {
  width: 50px;
  border: 1px solid var(--on-primary);
}

.four-img-card .content {
  width: 70%;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
  line-height: 27px;
  margin-bottom: 50px;
}

.four-img-card button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  color: white;
  background: var(--on-primary);
  border: none;
  border-radius: 5px;
}

.five-img {
  width: 100%;
  height: 730px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./img/five-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.five-img .title {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.five-img hr {
  width: 25px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.five-img .content {
  width: 40%;
  text-align: justify;
  font-size: 18px;
  color: white;
  line-height: 27px;
  margin-bottom: 100px;
}

.top {
  width: 100%;
  height: 160px;
  display: flex;
  /* border: 1px solid black; */
}

.top img {
  width: auto;
  height: 50px;
  margin: auto;
}

footer {
  height: 100px;
  background: #ececec;
  font-size: 14px;
}

footer nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 6px;
  font-weight: light;
}

footer nav span {
  color: var(--on-primary);
  margin-right: 25px;
  font-weight: bold;
}

footer nav img {
  width: 30px;
  height: 30px;
}
