* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  margin: 0px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

:root {
  --text-color: #808080;
  --primary-color: #19d8d3;
  --secondary-color: #32ebe7;
  --third-color: #3f3a3a;
  --background-color: #f2f2f2;
  --section-background-color: #ececec;
  --text-size-h1: 2.3rem;
  --text-size-h2: 1.3rem;
  --text-size-h3: 1rem;
  --text-size-h4: 0.7rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font-size: var(--text-size-h3);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
}

.button-effect:hover::after {
  content: "  >>>";
  font-size: var(--text-size-h3);
  animation: colorChange 0.8s infinite;
}

@keyframes colorChange {
  0%,
  100% {
    color: var(--primary-color);
  }
  50% {
    color: var(--secondary-color);
  }
}

header {
  width: 100%;
  height: 110px;
  min-height: 60px;
  padding: 0px 60px 0px 40px;
  background: linear-gradient(white, white), var(--background-color);
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header figure .logo {
  height: 70px;
  transition: transform 0.3s ease-in;
}

header figure .logo:hover {
  transform: scale(1.2);
}

header nav {
  width: 35vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav li {
  cursor: pointer;
  list-style-type: none;
  white-space: nowrap;
}

header nav li:hover {
  color: var(--primary-color);
}

header nav .search-icon {
  height: 22px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

header nav .search-icon:hover {
  transform: scale(2);
}

@media (max-width: 767px) {
  header {
    height: 60px;
    padding: 0px 15px;
  }
  header figure .logo {
    height: 40px;
    margin-left: -40px;
  }
  header nav {
    width: 50vw;
  }
  header nav .search-icon {
    height: 20px;
  }
  header nav .search-icon:hover {
    transform: scale(1.5);
  }
}

main {
  margin-top: 110px;
}

@media (max-width: 767px) {
  main {
    margin-top: 60px;
  }
}

.keyvisual {
  width: 100%;
  height: 600px;
  background: url("./img/key-visual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyvisual-content {
  width: 100%;
  height: 100%;
  color: white;
  font-size: var(--text-size-h2);
  letter-spacing: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyvisual-titile {
  font-size: var(--text-size-h1);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: -20px;
}

.keyvisual-titile:hover {
  transform: rotate(-10deg);
}

.keyvisual img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 190px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  40% {
    transform: translateY(-20px) rotate(90deg);
  }
  60% {
    transform: translateY(-10px) rotate(90deg);
  }
}

@media (max-width: 767px) {
  .keyvisual {
    height: 300px;
  }
  .keyvisual-content {
    letter-spacing: 5px;
  }
  .keyvisual-titile {
    padding: 8px;
    margin-right: 5px;
  }
  .keyvisual img {
    width: 15px;
    position: relative;
    top: 75px;
    animation: bounce 2s infinite;
  }
}

aside {
  width: 80px;
  opacity: 0.8;

  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 2;
}

aside img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 767px) {
  aside {
    width: 60px;
  }
}

.home-test {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/second-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: local;

  font-size: var(--text-size-h2);
  color: white;
  line-height: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-test-button {
  margin-top: 40px;
  width: 160px;
  height: 40px;

  color: var(--primary-color);
  background: none;
}

@media (max-width: 767px) {
  .home-test {
    height: 325px;
    line-height: 0px;
  }
  .home-test-button {
    margin-top: 30px;
    width: 100px;
    height: 30px;
  }
}

.home-article {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/third-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  font-size: var(--text-size-h2);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-article-button {
  margin-top: 35px;
  width: 250px;
  height: 50px;

  color: var(--primary-color);
  background: none;

  position: relative;
}

@media (max-width: 767px) {
  .home-article {
    height: 650px;
  }
  .home-article {
    width: 100%;
    height: 325px;
  }
  .home-article-button {
    margin-top: 20px;
    width: 150px;
    height: 30px;
  }
}

.home-information {
  width: 100%;
  height: 650px;
  background: url("./img/four-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-information-card {
  width: 330px;
  height: 440px;
  background: url("./img/FE_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
  padding: 60px 0px 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-information-card img {
  width: 40px;
  height: 40px;
}

.home-information-card .title {
  font-size: var(--text-size-h2);
  color: var(--primary-color);
}

.home-information-card hr {
  width: 50px;
  border: 1px solid var(--primary-color);
}

.home-information-card .content {
  width: 70%;
  text-align: center;
  font-size: var(--text-size-h3);
  color: var(--text-color);
  line-height: 27px;
  margin-bottom: 20px;
}

.home-information-card-button {
  width: 160px;
  height: 40px;
  color: white;
  background: var(--primary-color);
}

.home-information-card-button:hover::after {
  content: "  >>>";
  font-size: var(--text-size-h3);
  animation: colorChangeDark 1.2s infinite;
}

@keyframes colorChangeDark {
  0%,
  100% {
    color: white;
  }
  50% {
    color: var(--secondary-color);
  }
}

@media (max-width: 767px) {
  .home-information-card {
    width: 210px;
    height: 280px;
    margin: 5px;
    padding: 30px 0px 30px;
  }
  .home-information-card img {
    width: 40px;
    height: 40px;
  }
  .home-information-card .title {
    margin-bottom: 5px;
  }
  .home-information-card hr {
    width: 30px;
    border: 0.6px solid var(--primary-color);
  }
  .home-information-card .content {
    line-height: 20px;
    margin-bottom: 20px;
  }
  .home-information-card-button {
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .home-information {
    height: auto;
    flex-direction: column;
  }
}

.home-about {
  width: 100%;
  height: 730px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./img/five-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-about-title {
  font-size: var(--text-size-h2);
  color: white;
  margin-bottom: 10px;
}

.home-about hr {
  width: 25px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.home-about-content {
  width: 40%;
  text-align: justify;
  font-size: var(--text-size-h3);
  color: white;
  line-height: 27px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .home-about {
    height: 365px;
  }
  .home-about-title {
    margin-bottom: 5px;
  }
  .home-about hr {
    width: 20px;
    margin-bottom: 5px;
  }
  .home-about-content {
    width: 90%;
    font-size: var(--text-size-h3);
    line-height: 17px;
    margin-bottom: 20px;
  }
}

.top-icon-section {
  width: 100%;
  height: 160px;
  display: flex;
}

.top-icon-section .top-icon {
  width: auto;
  height: 50px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}

.top-icon-section .top-icon:hover {
  transform: scale(1.5);
}

@media (max-width: 767px) {
  .top-icon-section {
    height: 80px;
  }
  .top-icon-section .top-icon {
    height: 40px;
  }
}

footer {
  height: 100px;
  background: var(--section-background-color);
  font-size: var(--text-size-h3);
}

footer nav {
  height: 100%;
  font-weight: light;
  letter-spacing: 3px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav span {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 25px;
}

footer nav img {
  width: 30px;
  height: 30px;
}

footer nav img:hover {
  opacity: 0.8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer nav {
    letter-spacing: 2px;
  }
  footer nav span {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  footer {
    height: 140px;
    padding: 10px;
  }
  footer nav {
    flex-direction: column;
    align-items: start;
    letter-spacing: 2px;
    line-height: 10px;
    margin-left: 10px;
  }
  footer nav span {
    margin-right: 0px;
  }
  footer nav img {
    width: 20px;
    height: 20px;
  }
}
